@import "../../styles/extends";
@import "../../styles/mixins";
@import "../../styles/vars";
@import "../../theme/index";

.switchButton {
  @extend %extends-position-relative;
  @extend %extends-display-inline-block;
  @include widthHeight(60px, 34px);

  @include themeHandler() {
    span {
      @include bgColor(var(--button));

      &:before {
        @include bgColor(var(--secondary-background));
      }
    }
  }

  input {
    @extend %extends-opacity-0;
  }

  span {
    @extend %extends-position-absolute;
    @extend %extends-top-0;
    @extend %extends-left-0;
    @extend %extends-right-0;
    @extend %extends-bottom-0;
    @extend %extends-border-radius-34px;
    @extend %extends-cursor-pointer;
    @extend %extends-transition-04s-ease;
  }

  span:before {
    @extend %extends-position-absolute;
    content: "";
    @include left(4px);
    @include bottom(4px);
    @include widthHeight(26px, 26px);
    @extend %extends-border-radius-50;
    @extend %extends-transition-04s-ease;
  }

  input:checked + span:before {
    @include transformTranslateX(26px);
  }
}
