@import "../../styles/extends";
@import "../../styles/mixins";
@import "../../styles/vars";
@import "../../theme/index";

.switchButton {
  @extend %extends-position-relative;
  display: inline-block;
  @include widthHeight(60px, 34px);

  @include themeHandler() {
    span {
      @include bgColor(var(--button));

      &:before {
        @include bgColor(var(--secondary-background));
      }
    }
  }

  input {
    opacity: 0;
  }

  span {
    @extend %extends-position-absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include transition($s04);
    @include borderRadius(34px);
  }

  span:before {
    @extend %extends-position-absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    @include transition($s04);
    @include borderRadius(50%);
  }

  input:checked + span:before {
    transform: translateX(26px);
  }
}
