@import "../../styles/extends";
@import "../../theme/index";

@mixin hoveredButton() {
  > span {
    &:nth-child(1) > svg {
      fill: var(--contrast-background);
    }

    &:nth-child(2) > svg path {
      stroke: var(--contrast-background);
    }
  }
}

.filterBar {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px 15px;
  gap: 25px;

  button.filterButton {
    padding: 0;
    display: flex;
    align-items: center;
    height: 40px;
    @extend %extends-cursor-pointer;

    // svg (CalendarIcon):
    > span {
      &:nth-child(1) {
        margin-right: 7px;

        > svg {
          fill: $middleDark;
          @extend %extends-transition-04s-ease;
        }
      }

      &:nth-child(2) {
        > svg path {
          stroke: $middleDark;
          @extend %extends-transition-04s-ease;
        }
      }
    }

    &.views,
    &.date,
    &:hover {
      @include hoveredButton();
    }
  }
}
