@import "../theme/index.scss";
@import "../styles/vars.scss";

// ----------- position:

%extends-position-relative {
  position: relative;
}

%extends-position-absolute {
  position: absolute;
}

%extends-position-fixed {
  position: fixed;
}

%extends-top-0 {
  top: 0;
}

%extends-left-0 {
  left: 0;
}

%extends-right-0 {
  right: 0;
}

%extends-bottom-0 {
  bottom: 0;
}

// ----------- display:

%extends-display-block {
  display: block;
}

%extends-display-inline-block {
  display: inline-block;
}

%extends-display-flex {
  display: flex;
}

// ----------- flex:

%extends-flex-1 {
  flex: 1;
}

%extends-flex-shrink-0 {
  flex-shrink: 0;
}

// ----------- flex x:

%extends-justify-content-center {
  justify-content: center;
}

%extends-justify-content-end {
  justify-content: flex-end;
}

%extends-justify-content-between {
  justify-content: space-between;
}

%extends-flex-x-center {
  @extend %extends-display-flex;
  @extend %extends-justify-content-center;
}

%extends-flex-x-end {
  @extend %extends-display-flex;
  @extend %extends-justify-content-end;
}

%extends-flex-x-between {
  @extend %extends-display-flex;
  @extend %extends-justify-content-between;
}

// ----------- flex y:

%extends-align-items-center {
  align-items: center;
}

%extends-flex-y-center {
  @extend %extends-display-flex;
  @extend %extends-align-items-center;
}

// ----------- flex x y:

%extends-flex-x-center-y-center {
  @extend %extends-display-flex;
  @extend %extends-justify-content-center;
  @extend %extends-align-items-center;
}

%extends-flex-x-between-y-center {
  @extend %extends-display-flex;
  @extend %extends-justify-content-between;
  @extend %extends-align-items-center;
}

// ----------- flex direction:

%extends-flex-direction-column {
  flex-direction: column;
}

%extends-flex-dir-colimn-x-center-y-center {
  @extend %extends-display-flex;
  @extend %extends-flex-direction-column;
  @extend %extends-justify-content-center;
  @extend %extends-align-items-center;
}

// ----------- padding:

%extends-padding-0 {
  padding: 0;
}

// ----------- margin:

%extends-margin-0 {
  margin: 0;
}

%extends-margin-0-auto {
  margin: 0 auto;
}

// ----------- width:

%extends-width-100 {
  width: 100%;
}

%extends-width-96 {
  width: 96%;
}

%extends-width-94 {
  width: 94%;
}

%extends-width-92 {
  width: 92%;
}

%extends-max-width-max {
  max-width: $max;
}

// ----------- height:

%extends-height-100 {
  height: 100%;
}

// ----------- ul li:

%extends-list-style-none {
  list-style: none;
}

// ----------- font:

%extends-font-size-12px {
  font-size: 12px;
}

%extends-font-size-13px {
  font-size: 13px;
}

%extends-font-size-14px {
  font-size: 14px;
}

%extends-font-size-15px {
  font-size: 15px;
}

%extends-font-size-16px {
  font-size: 16px;
}

%extends-font-size-18px {
  font-size: 18px;
}

%extends-font-size-20px {
  font-size: 20px;
}

%extends-font-size-28px {
  font-size: 28px;
}

// - font-weight:

%extends-font-weight-400 {
  font-weight: 400;
}

%extends-font-weight-600 {
  font-weight: 600;
}

%extends-font-weight-700 {
  font-weight: 700;
}

// - line-height

%extends-line-height-1 {
  line-height: 1;
}

%extends-line-height-1_2 {
  line-height: 1.2;
}

%extends-line-height-1_3 {
  line-height: 1.3;
}

%extends-line-height-1_4 {
  line-height: 1.4;
}

%extends-text-decoration-none {
  text-decoration: none;
}

%extends-text-transform-uppercase {
  text-transform: uppercase;
}

%extends-word-wrap-break-word {
  word-wrap: break-word;
}

// ----------- color:

%extends-color-white {
  color: $colorWhite;
}

%extends-color-light {
  color: $light;
}

%extends-color-dark {
  color: $dark;
}

%extends-color-middle-grey {
  color: $middleGrey;
}

%extends-color-middle-dark {
  color: $middleDark;
}

// ----------- bg:

%extends-bgc-light {
  background-color: $light;
}

%extends-bgc-dark {
  background-color: $dark;
}

%extends-bgc-middleGrey {
  background-color: $middleGrey;
}

%extends-bgc-middleDark {
  background-color: $middleDark;
}

%extends-bgc-transparent {
  background-color: transparent;
}

// ----------- border:

%extends-border-none {
  border: none;
}

%extends-border-radius-50 {
  border-radius: 50%;
}

%extends-border-radius-4px {
  border-radius: 4px;
}

%extends-border-radius-6px {
  border-radius: 6px;
}

%extends-border-radius-8px {
  border-radius: 8px;
}

%extends-border-radius-14px {
  border-radius: 14px;
}

%extends-border-radius-15px {
  border-radius: 15px;
}

%extends-border-radius-34px {
  border-radius: 34px;
}

// ----------- z-index:

%extends-z-index-1 {
  z-index: 1;
}

%extends-z-index-2 {
  z-index: 2;
}

%extends-z-index-3 {
  z-index: 3;
}

// ----------- overflow:

%extends-overflow-hidden {
  overflow: hidden;
}

%extends-overflow-y-scroll {
  overflow-y: scroll;
}

%extends-white-space-nowrap {
  white-space: nowrap;
}

%extends-hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}

// - line-clamp

%extends-webkit-box-vertical {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  @extend %extends-overflow-hidden;
}

%extends-line-clamp-1 {
  @extend %extends-webkit-box-vertical;
  -webkit-line-clamp: 1;
}

%extends-line-clamp-2 {
  @extend %extends-webkit-box-vertical;
  -webkit-line-clamp: 2;
}

%extends-line-clamp-3 {
  @extend %extends-webkit-box-vertical;
  -webkit-line-clamp: 3;
}

// ----------- box-shadow:

%extends-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

%extends-box-shadow-hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

// ----------- opacity:

%extends-opacity-0 {
  opacity: 0;
}

// ----------- transition:

%extends-transition-04s-ease {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

%extends-transition-bgc-04s-ease {
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

// ----------- other:

%extends-user-select-none {
  user-select: none;
}

%extends-cursor-pointer {
  cursor: pointer;
}
