@import "../styles/extends";
@import "../styles/mixins";
@import "../styles/vars";
@import "../theme/index";

body {
  @extend %extends-margin-0;
  @extend %extends-height-100;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @extend %extends-bgc-dark;
  @extend %extends-transition-bgc-04s-ease;
}

* {
  @extend %extends-text-decoration-none;
}

h1,
h2,
h3 {
  @extend %extends-margin-0;
  @extend %extends-padding-0;
  @extend %extends-color-middle-grey;
}

p {
  @extend %extends-margin-0;
  @extend %extends-color-middle-grey;
}

button {
  @extend %extends-bgc-transparent;
  @extend %extends-border-none;
}

a {
  @extend %extends-display-block;
  @extend %extends-color-middle-grey;
}

img {
  @extend %extends-display-block;
}

main {
  @extend %extends-flex-1;
}

footer {
  @extend %extends-flex-shrink-0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.globalWrapper {
  @extend %extends-width-100;
}

.main {
  @extend %extends-margin-0-auto;
  @include maxWidth($max);
  @extend %extends-min-height-100vh;
}

[data-theme="light"] body {
  @extend %extends-color-dark;
  @extend %extends-bgc-light;

  h1,
  h2,
  h3 {
    @extend %extends-color-dark;
  }

  a {
    @extend %extends-color-dark;
  }
}

[data-theme="dark"] body {
  @extend %extends-color-light;
  @extend %extends-bgc-dark;

  h1,
  h2,
  h3 {
    @extend %extends-color-light;
  }

  a {
    @extend %extends-color-light;
  }
}
